name: build

on: [push, pull_request]

jobs:
  prototype-jpeg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Set up Poetry
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
          echo "::set-env name=PATH::$HOME/.poetry/bin:$PATH"
      - name: Install dependencies
        run: poetry install --no-root

      - name: Lint
        run: |
          poetry run python -m pylint adaptive_huffman_coding/
          poetry run python -m mypy --ignore-missing-import adaptive_huffman_coding/
      - name: Test
        run: poetry run python -m pytest -v --cov-report xml --cov=adaptive_huffman_coding tests/
      - name: Upload coverage report to Codacy
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml